<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tarmsbd.schoolofthought.codered.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".ui.auth.ResetActivity" />
        <activity android:name=".ui.main.HeatMapActivity" />
        <activity android:name=".ui.emergency.BuyKitActivity" />
        <activity
            android:name=".ui.setup.SplashActivity"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.emergency.EmergencyActivity" />
        <activity android:name=".ui.sos.SOSActivity" />
        <activity android:name=".ui.report.ReportActivity" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBJ7KI243bhHAlRD3fYjIZTgSlUZpUzDag" />

        <activity android:name=".ui.main.GoogleMapActivity" />
        <activity
            android:name=".ui.auth.AuthActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.ques.QuesActivity" />
    </application>

</manifest>